In [6]:
%%capture
%run validate_partner_manifest_dev.ipynb

In [2]:
def validate_anospp(fn, template_fn='../data/Anopheles_Metadata_Manifest_V4.0.xlsx', 
                    verbose=False, version='4.0', samples_sheet='TAB 2 Metadata Entry'):
    '''
    Validation follows the order of columns order in data entry sheet
    '''

    setup_logging(verbose=verbose)

    logging.info(f'# started validate_anospp_partner_manifest_v.{version}')
    logging.warning(f'# manifest {fn}')

    # read data
    df = get_data(fn, sheet=samples_sheet)
    df = remove_trailing_spaces(df)
    
    # read NCBI taxonomy
    ncbi = ete3.NCBITaxa()
    
    # prepare for validation
    template_df = get_data(template_fn, sheet='TAB 2 Metadata Entry')
    check_columns(df, template_df)
    valid_dict = get_valid_dict(template_fn, validation_sheet='TAB 4Data Validation - do not e')

    # orange cols
    # exclude empty series
    df = validate_series(df)
    df = validate_plates_wells(df, 'RACK_OR_PLATE_ID', 'TUBE_OR_WELL_ID')
    
    # check and exclude blanks
    df = check_blanks(df)
    
    validate_values('PRESERVATIVE_SOLUTION', df, valid_dict)
    # CATCH_LOT not checked TODO do not allow missing
    validate_values('BOTTLE_DIRECTION', df, valid_dict)
    validate_values('ORGANISM_PART', df, valid_dict, sep='|')
    validate_values('HAZARD_GROUP', df, valid_dict)
    validate_values('REGULATORY_COMPLIANCE', df, valid_dict)
    date_coll = validate_date('DATE_OF_COLLECTION', df, na_values=['NOT_COLLECTED',''])
    check_location(df, fn)
    
    # purple cols
    # taxonomy validation - currently taxIDs are not used
    validate_ncbi_taxonomy_anospp(df, ncbi, na_values = [''])
    validate_values('SEX', df, valid_dict)
    # HABITAT not checked
    validate_time('TIME_OF_COLLECTION', df, na_values=['NOT_COLLECTED',''])
    validate_time_period('DURATION_OF_COLLECTION', df, na_values=['NOT_COLLECTED',''])
    validate_values('COLLECTION_METHOD', df, valid_dict)
    # DESCRIPTION_OF_COLLECTION_METHOD not checked
    validate_int('TIME_ELAPSED_FROM_COLLECTION_TO_PLATING', df, na_values=[''])
    # PHOTOGRAPH_* columns not checked
    # VOUCHER_ID not checked
    # PRESERVATION_APPROACH not checked - should match DATE_OF_PRESERVATION
    date_pres = validate_date('DATE_OF_PRESERVATION', df, na_values=['']) # allow for empty values unlike DATE_OF_COLLECTION
    compare_dates(before=date_coll, after=date_pres)
    # COLLECTOR_SAMPLE_ID not checked
    validate_int('ELEVATION', df, na_values=[''])
    # OTHER_INFORMATION	MISC_METADATA	IDENTIFIED_BY	IDENTIFIER_AFFILIATION	IDENTIFIED_HOW not checked
        
    logging.info('# ended validate_partner_manifest_v.{}'.format(version))

    return df

fn = '../data/Anopheles_Metadata_Manifest_V4.0.xlsx'
template_fn = '../data/Anopheles_Metadata_Manifest_V4.0.xlsx'
df = validate_anospp(fn, template_fn, verbose=True, samples_sheet='TAB 5 EXAMPLE Metadata Entry')

[INFO] # started validate_anospp_partner_manifest_v.4.0
[WARNING] # manifest ../data/Anopheles_Metadata_Manifest_V4.0.xlsx
[INFO] reading data from '../data/Anopheles_Metadata_Manifest_V4.0.xlsx'
[WARNING] trailing spaces found in column 'COLLECTION_LOCATION', SERIES [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95]. Removing for validation
[WARNING] trailing spaces found in column 'PREDICTED_SCIENTIFIC_NAME', SERIES ['example', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95]. Removing for validation
[WARNING] trailing spaces found in column 'PRESERVATION_APPROACH', SERIES [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287]. Removing for validation
[WARNING] trailing spaces found in column 'HABITAT', SERIES ['example', 2]. Removing for validation
[INFO] reading data from '../data/Anopheles_Metadata_Manifest_V4.0.xlsx'
[INFO] checking manifest columns against template
[INFO] extracting value validation data from '../data/Anopheles_Metadata_Manifest_V4.0.xlsx'
[INFO] validating SERIES
[ERROR] Found and excluded non-numeric SERIES: ['example']
[INFO] validating RACK_OR_PLATE_ID and TUBE_OR_WELL_ID
[ERROR] Found and excluded 4512 empty rows based on RACK_OR_PLATE_ID and TUBE_OR_WELL_ID
[INFO] found 288 samples across 3 plates
[INFO] Checking and excluding blank samples
[INFO] Blanks removed: 285 samples of 288 left for downstream analysis
[INFO] validating values in column 'PRESERVATIVE_SOLUTION'
[INFO] validating values in column 'BOTTLE_DIRECTION'
[ERROR] 'BOTTLE_DIRECTION' column not found in manifest
[INFO] validating values in column 'ORGANISM_PART'
[INFO] validating values in column 'HAZARD_GROUP'
[ERROR] 'HAZARD_GROUP' column not found in manifest
[INFO] validating values in column 'REGULATORY_COMPLIANCE'
[ERROR] 'REGULATORY_COMPLIANCE' column not found in manifest
[INFO] validating date column 'DATE_OF_COLLECTION'
[INFO] validating country with coordinates
[ERROR] country mismatch for coordinates '52.0193, 0.2424', partner country 'ENGLAND', coordinate country 'UNITED KINGDOM'
[ERROR] country mismatch for coordinates '-0.218, 11.584', partner country 'LOPE NATIONAL PARK', coordinate country 'GABON'
[ERROR] country mismatch for coordinates '11.2339822, -4.4725306', partner country 'HAUTS-BASSINS', coordinate country 'BURKINA FASO'
[ERROR] no partner location found for coordinates ', '
[INFO] validating species taxonomy against NCBI
[INFO] validating values in column 'SEX'
[ERROR] invalid values in 'SEX': {''}
[INFO] validating time column 'TIME_OF_COLLECTION'
[INFO] excluding 190 ['NOT_COLLECTED', ''] samples without data in 'TIME_OF_COLLECTION'
[INFO] validating time period column 'DURATION_OF_COLLECTION'
[INFO] excluding 190 ['NOT_COLLECTED', ''] samples without data in 'DURATION_OF_COLLECTION'
[INFO] validating values in column 'COLLECTION_METHOD'
[ERROR] invalid values in 'COLLECTION_METHOD': {''}
[INFO] validating int format in TIME_ELAPSED_FROM_COLLECTION_TO_PLATING
[ERROR] TIME_ELAPSED_FROM_COLLECTION_TO_PLATING column not found in manifest
[INFO] validating date column 'DATE_OF_PRESERVATION'
[INFO] excluding 95 [''] samples without data in 'DATE_OF_PRESERVATION'
[INFO] checking that DATE_OF_COLLECTION are earlier than DATE_OF_PRESERVATION
[INFO] validating int format in ELEVATION
[INFO] excluding 283 [''] samples without data in 'ELEVATION'
[INFO] # ended validate_partner_manifest_v.4.0

In [5]:
validate_anospp('../results/20220825_anospp_4/BEAM_Anopheles_Metadata_Manifest_V4.0.xlsx', template_fn, samples_sheet='TAB 2 Metadata Entry')

[WARNING] # manifest ../results/20220825_anospp_4/BEAM_Anopheles_Metadata_Manifest_V4.0.xlsx
[ERROR] duplicate SERIES: ['', '']
[WARNING] trailing spaces found in column 'COLLECTION_LOCATION', SERIES [75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 746, 747, 749, 760, 761, 762, 763, 764, 765, 766, 767]. Removing for validation
[WARNING] trailing spaces found in column 'DESCRIPTION_OF_COLLECTION_METHOD', SERIES [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863]. Removing for validation
[ERROR] Found and excluded non-numeric SERIES: ['', '', '']
[ERROR] In SERIES, ['192', '288', '96'] are missing, ['862', '863', '864'] are unexpected
[ERROR] in TUBE_OR_WELL_ID for plate BEAM_001, wells {'H12'} are missing, wells set() are excessive
[ERROR] in TUBE_OR_WELL_ID for plate BEAM_002, wells {'H12'} are missing, wells set() are excessive
[ERROR] in TUBE_OR_WELL_ID for plate BEAM_003, wells {'H12'} are missing, wells set() are excessive
[ERROR] 'BOTTLE_DIRECTION' column not found in manifest
[ERROR] 'HAZARD_GROUP' column not found in manifest
[ERROR] 'REGULATORY_COMPLIANCE' column not found in manifest
[ERROR] SPECIES: {'Anophele funestus', 'Anopheles domicola', 'Anopheles flavicosta'} not found in NCBI Taxonomy
[ERROR] TIME_ELAPSED_FROM_COLLECTION_TO_PLATING column not found in manifest
[ERROR] invalid dates in 'DATE_OF_PRESERVATION': ['#REF!']

,RACK_OR_PLATE_ID,TUBE_OR_WELL_ID,PRESERVATIVE_SOLUTION,ORGANISM_PART,DATE_OF_COLLECTION,COLLECTION_COUNTRY,COLLECTION_LOCATION,DECIMAL_LATITUDE,DECIMAL_LONGITUDE,SAMPLING_LOCATION_SIZE,...,ELEVATION,WHAT_3_WORDS,OTHER_ORGANISMS,BIOASSAYS,COLLECTOR_SAMPLE_ID,OTHER_INFORMATION,MISC_METADATA,DNA_EXTRACTION_DESCRIPTION,DNA_EXTRACT_VOLUME_PROVIDED,DNA_EXTRACT_CONCENTRATION
SERIES,,,,,,,,,,,,,,,,,,,,,
1,BEAM_001,A1,100%_ETHANOL,HEAD | THORAX,2022-07-15 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | KENIOTO VILLAGE,12.570607,-12.162318,1km²,...,,,,,,One of the mosquitoes in this batch of 14 was ...,,,,
2,BEAM_001,B1,100%_ETHANOL,HEAD | THORAX,2022-07-15 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | KENIOTO VILLAGE,12.570607,-12.162318,1km²,...,,,,,,One of the mosquitoes in this batch of 14 was ...,,,,
3,BEAM_001,C1,100%_ETHANOL,HEAD | THORAX,2022-07-15 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | KENIOTO VILLAGE,12.570607,-12.162318,1km²,...,,,,,,One of the mosquitoes in this batch of 14 was ...,,,,
4,BEAM_001,D1,100%_ETHANOL,HEAD | THORAX,2022-07-15 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | KENIOTO VILLAGE,12.570607,-12.162318,1km²,...,,,,,,One of the mosquitoes in this batch of 14 was ...,,,,
5,BEAM_001,E1,100%_ETHANOL,HEAD | THORAX,2022-07-15 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | KENIOTO VILLAGE,12.570607,-12.162318,1km²,...,,,,,,One of the mosquitoes in this batch of 14 was ...,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,BEAM_009,C12,100%_ETHANOL,HEAD | THORAX,2022-08-13 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | BOUNDOUCOUNDI VILLAGE,12.518798,-12.335027,1km²,...,,,,,,,,,,
860,BEAM_009,D12,100%_ETHANOL,HEAD | THORAX,2022-08-13 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | BOUNDOUCOUNDI VILLAGE,12.518798,-12.335027,1km²,...,,,,,,,,,,
861,BEAM_009,E12,100%_ETHANOL,HEAD | THORAX,2022-08-13 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | BOUNDOUCOUNDI VILLAGE,12.518798,-12.335027,1km²,...,,,,,,,,,,
862,BEAM_009,F12,100%_ETHANOL,HEAD | THORAX,2022-08-13 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | BOUNDOUCOUNDI VILLAGE,12.518798,-12.335027,1km²,...,,,,,,,,,,
863,BEAM_009,G12,100%_ETHANOL,HEAD | THORAX,2022-08-13 00:00:00,SENEGAL,SENEGAL | KEDOUGOU | BOUNDOUCOUNDI VILLAGE,12.518798,-12.335027,1km²,...,,,,,,,,,,